 <!-- Alternate Search Form -->
<div ng-app="app">
  <div ng-controller="challengesCtrl">
    {{ 1 + 1 }}
  </div>
</div>
<h1 id="challenge-list"> Change the World with Us </h1>
<button><a href="/challenges?sort=start_date#challenge-list">Challenges by Date</a></button>
<div class="container">

<!-- =form_tag '/challenges', method: :get, class: "navbar-form navbar-left" do %> -->
        <!-- <div class="form-group"> -->
           <!-- select_tag :search_category_id, options_from_collection_for_select(Category.all, 'id', 'name') %> -->
        <!-- </div> -->

    <!-- ubmit_tag "Find Challenges", class: "btn btn-default" %> -->
      <!-- end%> -->

  <% @challenges.each do |challenge| %>
    <div class="col-md-4">
      <div class="boxservice wow flipInY animated" data-wow-delay="0.1s">
      <i class=""></i>
        <h2> <%= link_to "#{challenge.name}", "/challenges/#{challenge.id}" %></h2>
        
        <img src="<%= challenge.url %>" align = "middle" width = "200">

        <h3> DESCRIPTION: <%= challenge.description %> </h3>

         <h3> DATE: <%= challenge.start_date %> </h3>


         
        <br>
      </div>
    </div>
  <%end%>
</div>

