.button1 {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}


body {
  background-image: url(hexellence.png);
}

body.challenges {
  background-color: green;
}

h2 { 
  text-align: center
}

#1 {
  color: lightblue;
}

.no-default {
  padding: 0;
  margin: 0;
}

#home-slide {
  background-size: cover;
}

#comments-list {
  background-size: cover;
  color: orange;
}

.main-container {
  margin-top: 7em;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

