<div ng-app="app">
  <div ng-controller="imagesCtrl">
    {{ 1 + 1 }}
  </div>
</div>

  <% @images.each do |image| %>
    <% if image.file %>
      <%= image_tag image.file.url %>
      <%= image_tag image.file.url(:medium) %>
      <%= image_tag image.file.url(:thumb) %>
    <% end %>
  <% end %>




<h1 id="image-list"> Envision </h1>


 <button><a href="/images/new">Share A Picture</a></button>
