
    






 <button><a href="/images/new">Share A Picture</a></button>

<h1 id="image-list"> Envision </h1>

  <% @images.each do |image| %>

    <% if image.file %>

      <IMG class = "displayed" <%= image_tag image.file.url %> 
      
    <% end %>

  <% end %>






