
    <script src="/js/jquery.finaltilesgallery.js"></script>
    <link rel="stylesheet" href="css/finaltilesgallery.css">


    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#gallery').finalTilesGallery();
    });
    </script>



<div ng-app="app">
  <div ng-controller="imagesCtrl">
    {{ 1 + 1 }}
  </div>
</div>


  <% @images.each do |image| %>
    <% if image.file %>
      <%= image_tag image.file.url %>
    <% end %>
    <% if current_user.id == image.user.id %>
    <%= link_to "Delete", "/images/#{image.id}", method: :delete%>
    <%end%>
  <% end %>




 <button><a href="/images/new">Share A Picture</a></button>

<h1 id="image-list"> Envision </h1>

<div id="gallery" class="final-tiles-gallery">
    <div class="ftg-items">
        <div class="tile">

            <a class="tile-inner">
              <% @images.each do |image| %>
                <img class="item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= image.file %>" />
              <%end%>
            </a>
        </div>
       
    </div>
</div>
